.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    color: white;
    place-items: end center;
    height: 50vh;
}

.header{
    background-color: aquamarine;
}
.content{
    background-color: skyblue;
}
.nav{
    background-color: pink;
}
.footer{
    background-color: peru;
}